* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/*
Part 2: Styling the BMI Calculator 


Use CSS to style the form and the result.

Add a background image to the form.
Add custom fonts using Google Fonts.
*/